/*visualisation boxes position and style */
.box {
  float: right;
  height: 400px;
  padding: 20px;
  color: #fff;
  background: rgb(253, 251, 251);
}

.margin-top-80 {
  margin-top: 80px;
}

/*set navigation bar to the right position*/
.navbar-default .navbar-nav > li > a:hover {
  color: #4AAAA5;
}
/*navbar-right-custom {
  padding-top: 6px;
  padding-right: 20px;
}*/

/*changing navbar menu color*/
.navbar.navbar-expand-lg.navbar-light {background-color: rgb(17, 184, 134);}

.navbar-item{
  margin-left: auto;
  background-color: rgb(17, 184, 134)
}

/*create nav-bar text colour*/
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(17, 184, 134);
}

/* setting navbar colour */
.navbar-custom { 
  background-color: rgb(6, 98, 126);
}


/* dropdown menu setting */
.navbar-custom .dropdown-item {
  color: black;
}

/* font size, type, position for title on each page */
h1{
  font-size: 26px;
  font-weight: bold;
  text-align:left;
}

/* font size, type, position for title on each page */
h2{
  font-size: 20px;
  font-weight: bold;
  text-align:left;
}

/* font size, type, position for title on each page */
p{
  color: black;
  text-align:left;
}

/* image size on each page*/
img {
  width: 100%;
  height: 100%;
}

/* changing background color and navbar as per screen size */
@media screen and (max-width: 600px) {
  .navbar.navbar-expand-lg.navbar-light {background-color: rgb(54, 128, 170);}
  body{
      background-color: #f8f6f6;
  }
}